@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #373b44;
  background: -webkit-linear-gradient(to right, #4286f4, #373b44);
  color: white;
  background: linear-gradient(to right, #4286f4, #373b44);
}
.container {
  position: relative;
  height: 470px;
  width: 340px;
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  background-color: #03c98772;
  border-radius: 20px;
  /* backdrop-filter: blur(10px); */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.heading {
  color: rgba(255, 255, 255, 0.814);
  font-size: 25px;
  margin: 20px 0px;
  text-align: center;
}
.input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 70%;
  gap: 20px;
  padding: 5px;
}
.input-container > label {
  width: 100%;
  font-size: small;
}
.input-container > label > input {
  width: 100%;
  height: 70%;
  border: 2px solid #373b4476;
  border-radius: 6px;
  background-color: #373b442f;
  outline: none;
  padding: 5px 20px;
  color: white;
  font-weight: 700;
}
.container > p {
  font-size: small;
  width: 100%;
  margin-top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.formula {
  position: absolute;
  left: 5%;
}
